{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" action="{{ path('connexion') }}">
            <div class="form-row">
                <div class="col-12">
                    <label>Nom</label>
                    <input type="text" class="form-control" required name="login" />
                </div>
                <div class="col-12">
                    <br>
                    <input type="submit" class="btn btn-block btn-primary" value="Se connecter" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
